<html>

<head>
    <title>Add Category</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <h1>Add New Category</h1>
            <div class="addCategoryContainer">
                <form action="/categories/add" method="post">
                    <div class="formItem">
                        <label for="categoryName">Category Name:</label><br>
                        <input type="text" name="categoryName" id="categoryName">
                    </div>
                    <div class="formItem">
                        <label for="categoryDescription">Description:</label><br>
                        <textarea name="categoryDescription" id="categoryDescription" rows="4"></textarea>
                    </div>
                    <button class="submitToDbBtn" type="submit">Add Category</button>
                </form>
            </div>
            <%- include('./partials/errors.ejs') %>

        </div>

        <%- include('./partials/footer.ejs') %>

</body>

</html>