<html>

<head>
    <title>Categories</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <h1>Categories</h1>
            <div class="categoriesContainer">
                <ul>
                    <% if(locals.categories) {%>
                        <% categories.forEach(category=> {%>
                            <li>
                                Name: <%= category.cat_name %> <br>
                                    Description: <%= category.description %> <br>
                            </li> <br>
                            <% });%>
                                <% }%>
                </ul>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>

</body>

</html>