<html>

<head>
    <title>Homepage</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <h1>Welcome to Blorps Gizmos and Gadgets!</h1>

        <%- include('./partials/footer.ejs') %>

</body>

</html>