<html>

<head>
    <title>Homepage</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">

            <h1>Welcome to Blorps Gizmos and Gadgets!</h1>
            <div class="indexContainer">
                <a href="/products" class="gotoLink">
                    <div class="gotoProducts">
                        Products
                    </div>
                </a>
                <a href="/categories" class="gotoLink">
                    <div class="gotoCategories">
                        Categories
                    </div>
                </a>
                <a href="/manufacturers" class="gotoLink">
                    <div class="gotoManufacturers">
                        Manufacturers
                    </div>
                </a>
            </div>
        </div>


        <%- include('./partials/footer.ejs') %>

</body>

</html>