<html>

<head>
    <title>Product Details</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <h1>More info on the product!</h1>
        </div>

        <%- include('./partials/footer.ejs') %>

</body>

</html>