<html>

<head>
    <title>Product Details</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <h1>More info on the product!</h1>

        <%- include('./partials/footer.ejs') %>

</body>

</html>