:root {
    font-family: "Raleway", arial, Helvetica, sans-serif;
}

ul {
    color: rgb(117, 123, 131);
}

h1 {
    color: rgb(67, 72, 77);
}

/* HEADER */

header {
    border-bottom: 5px rgb(117, 123, 131) solid;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding-left: 100px;
    /* border: 1px black dashed; */
}

li>a {
    color: rgb(67, 72, 77);
    font-weight: 500;
    text-decoration: none;
}

li>a:hover {
    color: rgb(67, 72, 77);
    text-decoration: underline;
}

li>a:visited {
    color: rgb(67, 72, 77);
    text-decoration: none;
}

.searchContainer {
    /* display: flex; */
    align-content: center;
}

/* FOOTER */
footer {
    border-top: 5px rgb(117, 123, 131) solid;
    height: 5vh;
    text-align: center;
    padding-top: 20px;

    color: rgb(117, 123, 131);

    & a {
        color: rgb(67, 72, 77);
        font-weight: 500;
        /* text-decoration: none; */
    }

    & a:hover {
        color: rgb(67, 72, 77);
        font-weight: 600;
        text-decoration: underline;
    }

    & a:visited {
        color: rgb(67, 72, 77);
        text-decoration: none;
    }
}

/* INDEX */

h2 {
    font-size: 22px;
    font-weight: 600;
    color: rgb(67, 72, 77);
}

.indexContainer {
    margin: 40px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    border: 1px black dahsed;
}

.gotoLink {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: hsl(214, 6%, 87%);
    /* border: 1px black dashed; */
    margin: 20px;
    min-width: 150px;
    width: 230px;
    height: 50px;
    text-align: center;
    border-radius: 18px;
    justify-content: center;
    text-decoration: none;
}

.gotoLink:hover {
    background-color: hsl(214, 6%, 62%);

    box-shadow: rgb(185, 185, 185) 0px 6px 20px;
}

.gotoProducts,
.gotoCategories,
.gotoManufacturers {
    font-size: 22px;


    /* width: 150px; */
    /* height: 50px; */
}

.mainContainer {
    background-color: rgb(255, 255, 255);
    padding: 0 60px;
    height: 81vh;
    max-height: 82vh;
    overflow: auto;

}

.categoriesContainer,
.productsContainer,
.manufacturersContainer {
    display: flex;
    justify-content: center;
    /* background-color: rgb(183, 183, 255); */
    padding: 0 20px;

}

.dbCount {
    font-weight: 700;
}

/* PRODUCT PAGE */

table {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    border-bottom: 1px solid rgb(117, 123, 131);

}

tr:first-of-type {
    /* width: 100%; */
    background-color: rgb(236, 236, 236);
}

tr {
    height: 50px;
    padding: 0px;
    /* border-top: 1px solid rgb(117, 123, 131); */
}

td {
    max-height: 50px;
    padding: 0px;
    max-width: 150px;
    padding: 4px 4px;

    border-top: 1px solid rgb(117, 123, 131);

    overflow: hidden;

    & a {
        text-decoration: none;
        color: blue;
    }

    & a:hover {
        display: block;
        text-decoration: underline;
        font-weight: 500;
    }

    & a:visited {
        text-decoration: none;
        color: blue;

    }
}

td:first-of-type {
    padding-left: 10px;
}

.titleBar {
    display: flex;
    justify-content: space-between;
}

/* ADD PRODUCT PAGE */

.addProductContainer,
.addCategoryContainer,
.addManufacturerContainer {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    padding: 25px;
}

.addProductContainer>form,
.addCategoryContainer>form,
.addManufacturerContainer>form {
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    gap: 12px;

}

.addAnchor {
    /* display: flex; */
    max-width: 45px;
    text-decoration: none;
    color: rgb(67, 72, 77);
    align-self: center;
    margin-top: 13px;
    box-sizing: border-box;
}

.addAnchor:hover {
    text-decoration: underline;

}

.addAnchor:visited {
    color: rgb(67, 72, 77);
}

.add {
    background-color: hsl(155, 79%, 48%);
    padding: 7px;
    border-radius: 10px;
    max-width: 60px;
    width: 60px;
    max-height: 80px;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
}

.add:hover {
    background-color: hsl(155, 79%, 40%);
}