:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */

header {
    border-bottom: 2px black dashed;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding-left: 100px;
    border: 1px black dashed;
}

.searchContainer {
    /* display: flex; */
    align-content: center;
}

/* FOOTER */
footer {
    border-top: black 2px dashed;
    height: 5vh;
    text-align: center;
    padding-top: 20px;
}

/* INDEX */

.indexContainer {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black dahsed;
}

.gotoLink {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 141, 253);
    border: 1px black dashed;
    margin: 20px;
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 18px;
    justify-content: center;
    text-decoration: none;
}

.gotoProducts,
.gotoCategories {
    font-size: 22px;

    /* width: 150px; */
    /* height: 50px; */
}

.mainContainer {
    background-color: lightblue;
    padding: 0 60px;
    height: 83vh;
}

.categoriesContainer,
.productsContainer {
    padding: 0 20px;
}

/* ADD PRODUCT PAGE */

.addProductContainer {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    padding: 25px;
}

.addProductContainer>form {
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    gap: 12px;

}